/application/configs/application.ini
/application/configs/cli.ini
/library/Zend
/library/THM
/public/content

/logs

/public/captcha

#cache
/cache/class
/cache/core
/cache/file

#not include symlinks for modules in public folder
/public/modules
/public/themes
/public/uploads
/public/.htaccess
/scripts/node_modules
/tmp
