/application/configs/application.ini
/application/configs/cli.ini
/application/modules/**
/library/**
/public/content
/logs
/public/captcha
/cache
/vendor
composer.lock

#not include symlinks for modules in public folder
/public/modules
/public/themes
/public/.htaccess
/scripts/node_modules
/scripts/grunt.config.json
/tmp
