/application/configs/application.ini
/application/configs/cli.ini
/application/modules/**/configs/local.*.php
/themes/**/configs/**/local.*.php
#/application/modules/**
/application/modules/**/configs/local.*.php
/themes/**/configs/**/local.*.php
/customization/modules/**/configs/local.*.php
#/library/**
/public/content
/logs
/public/captcha
#/public/plugins
/cache
/vendor
composer.lock

#not include symlinks for modules in public folder
/public/modules
/public/themes
/public/.htaccess
/scripts/node_modules
/scripts/grunt.config.json
/tmp
