
<div class="row editableRegion">
    <div class="col-sm-6">
        <h3>Column 1 (1-1)</h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fringilla nibh sed leo blandit porta. Nam elementum rutrum odio, finibus laoreet dolor sollicitudin eu. In in neque ac nunc aliquam fringilla rhoncus sit amet est. Phasellus tempor id velit quis fringilla. Sed in nisi vulputate, malesuada enim posuere, volutpat quam. Quisque mattis, enim quis malesuada dapibus, odio enim dictum tellus, ac finibus felis augue semper orci. Nullam nec ultrices nunc. Nullam ultricies vestibulum viverra. Vestibulum auctor efficitur vestibulum. Quisque efficitur eros sit amet lectus vulputate, sit amet ultricies nibh lobortis. Curabitur egestas sit amet est et facilisis. Phasellus porttitor pellentesque purus vel euismod. Suspendisse potenti. Aliquam iaculis pharetra consectetur. 
    </div>
    <div class="col-sm-6">
        <h3>Column 2 (1-1)</h3>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fringilla nibh sed leo blandit porta. Nam elementum rutrum odio, finibus laoreet dolor sollicitudin eu. In in neque ac nunc aliquam fringilla rhoncus sit amet est. Phasellus tempor id velit quis fringilla. Sed in nisi vulputate, malesuada enim posuere, volutpat quam. Quisque mattis, enim quis malesuada dapibus, odio enim dictum tellus, ac finibus felis augue semper orci. Nullam nec ultrices nunc. Nullam ultricies vestibulum viverra. Vestibulum auctor efficitur vestibulum. Quisque efficitur eros sit amet lectus vulputate, sit amet ultricies nibh lobortis. Curabitur egestas sit amet est et facilisis. Phasellus porttitor pellentesque purus vel euismod. Suspendisse potenti. Aliquam iaculis pharetra consectetur.
    </div>
</div>
<p><br /><br /></p>