<section class="collapsibleSection closed">
<i class="fa fa-chevron-right collapseArrow closed"></i>
<h3 class="closed">Collabsible Box title test</h3>
<div class="row description open">
<div class="col-md-9">
    <p>
        Collapsible Box content <br />
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris sed convallis sapien, id molestie lorem. Fusce ac metus lectus. Morbi eu augue nec tortor hendrerit dignissim a vitae justo. Donec dignissim sit amet magna eget iaculis. Sed lorem quam, mollis in velit a, convallis accumsan quam. Suspendisse augue est, egestas id arcu non, pellentesque maximus elit. Donec et dui non dolor accumsan pharetra. Nulla vel consectetur magna, et cursus ipsum. Nullam vitae dignissim tortor, quis bibendum mauris. Fusce sit amet dignissim leo. Nunc luctus ullamcorper arcu, in ullamcorper ipsum placerat nec. 
    </p>
</div>
</div>
</section>
<p><br /><br /></p>